html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

nav {
    float: left;
    background-color: rgba(255, 255, 255, 0.000001);
}

nav li {
    display: inline-block;
    margin: 0 35px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a {
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

nav a::before {
    content: ' ';
    display: block;
    height: 3px;
    width: 0%;
    top: 0;
    position: absolute;
    background-color: #ffffff;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%
}


/*mobile optimization */

@media only screen and (max-device-width: 480px) {
    html {
        overflow-x: hidden;
        width: 100vw;
    }
    body {
        overflow-x: hidden;
        width: 100vw;
    }
    body nav li {
        display: inline-block;
        margin: 0 40px;
        position: relative;
        padding-top: 25px;
        padding-bottom: 5px;
    }
    body nav a {
        font-family: 'Work Sans', sans-serif;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 50px;
    }
    body nav a::before {
        content: ' ';
        display: none;
    }
    body .aboutimage {
        background-attachment: scroll;
        background-position: 0 0vh;
    }
    body .parallaxbackground {
        margin: 0;
        width: 100vw;
        background-attachment: scroll;
    }
    body .maintitle {
        font-size: 8vw;
        width: 100vw;
    }
    body .credits {
        font-size: 3vw;
        width: 100vw;
    }
    body .readmoretext {
        font-size: 3vw;
        width: 100vw;
    }
    body .scrolldownbutton {
        right: 0;
        width: 100vw;
    }
    body .doubledownarrow {
        width: 100vw;
    }
    body .introtitle,
    body .chinatitle,
    body .southkoreatitle,
    body .italytitle,
    body .USAtitle {
        font-family: 'Work Sans', sans-serif;
        margin-left: 200px;
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 45px;
        padding-top: 50px;
    }
    body .intro,
    body .china,
    body .southkorea,
    body .italy,
    body .USA {
        font-family: 'Work Sans', sans-serif;
        line-height: 3.1vw;
        margin-top: 50px;
        margin-left: 0px;
        margin-bottom: 100px;
        margin-right: 100px;
        font-size: 2.5vw;
    }
    body .chinapicture,
    body .southkoreapicture,
    body .italypicture,
    body .USApicture {
        width: 100%;
        height: 25vh;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        margin: 0;
        padding: 0px;
        overflow-x: hidden;
    }
    body .footer {
        position: absolute;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 15px;
        background-color: #212529;
        overflow-x: hidden;
    }
    body .copyright {
        left: 0;
        width: 100vw;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 1vw;
        padding: 1vw;
        color: #ffffff;
        overflow-x: hidden;
    }
    body .contact {
        left: 0;
        width: 100vw;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 1vw;
        padding: 1vw;
        color: #ffffff;
        overflow-x: hidden;
    }
}

.parallaxbackground {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/blackmarble2016-1500px_0.jpg");
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

.aboutimage {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/blackmarble2016-1500px_0.jpg");
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    background-position: 0 -10vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

.maintitle {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 5vw;
    color: #ffffff;
}

.abouttitle {
    position: absolute;
    left: 0;
    top: 15vh;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 5vw;
    color: #ffffff;
}

.credits {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4vw;
    padding-top: 0.7vw;
    color: #ffffff;
}

.readmoretext {
    position: relative;
    left: 0;
    top: 85%;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4vw;
    color: #ffffff;
}

.doubledownarrow {
    position: relative;
    top: 90%;
    left: 0;
    width: 100%;
    scale: 1vh;
    text-align: center;
}

.scrolldownbutton {
    position: absolute;
    outline: 0;
    border: none;
    background: none;
    text-align: center;
    left: 0;
    width: 100%;
    top: 85%;
}

.coronaimage {
    position: relative;
    width: 15vw;
    margin-left: 15vw;
}

.coronaimage2 {
    position: relative;
    width: 15vw;
}

.introtitle,
.chinatitle,
.southkoreatitle,
.italytitle,
.USAtitle {
    font-family: 'Work Sans', sans-serif;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 35px;
    padding-top: 50px;
}

.chinapicture,
.southkoreapicture,
.italypicture,
.USApicture {
    width: 100%;
    height: 50vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

.chinapicture {
    background-image: url("https://dreambigfilm.com/wp-content/uploads/2016/12/db_12_shanghaisunrise.jpg");
}

.southkoreapicture {
    background-image: url("https://i.pinimg.com/originals/c4/dd/ae/c4ddae22b66b019e3c13eaa5fc072f05.jpg");
}

.italypicture {
    background-image: url("https://i.pinimg.com/originals/a7/fd/a2/a7fda2242973d8a81eb5a86b21c4a835.jpg");
}

.USApicture {
    background-image: url("https://wallpaperaccess.com/full/52939.jpg")
}

.intro,
.china,
.southkorea,
.italy,
.USA {
    font-family: 'Work Sans', sans-serif;
    line-height: 2vw;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 100px;
    margin-right: 0;
    font-size: 1vw;
}

.USAeverygraphtitle,
.desmosgraphtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5vw;
    margin: 3vw 0;
    text-transform: uppercase;
}

.graphandtitles {
    text-align: center;
}

.yaxis {
    font-family: 'Work Sans', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    transform: rotate(270deg);
    position: relative;
    display: inline-block;
}

.xaxis {
    font-family: 'Work Sans', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.USAgraphpic {
    width: 40vw;
    vertical-align: middle;
    padding-right: 5vw;
}

.desmosgraphpic {
    width: 50vw;
    vertical-align: middle;
    padding-right: 10vw;
}

.footer {
    position: absolute;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #212529;
}

.copyright {
    left: 0;
    width: 100vw;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1vw;
    padding-top: 1vw;
    padding-bottom: 0;
    color: #ffffff;
}

.contact {
    left: 0;
    width: 100vw;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1vw;
    padding-bottom: 1vw;
    padding-top: 0;
    color: #ffffff
}

.contact a {
    text-decoration-color: #ffffff;
    color: #ffffff
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}