html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}


/*mobile optimization */

@media only screen and (max-device-width: 480px) {
    html {
        overflow-x: hidden;
        width: 100vw;
    }
    body {
        max-width: 100%;
        overflow-x: hidden;
        width: 100vw;
    }
    body .parallaxbackground {
        margin: 0;
    }
    body .maintitle {
        font-size: 8vw;
        width: 100vw;
    }
    body .credits {
        font-size: 3vw;
        width: 100vw;
    }
    body .readmoretext {
        font-size: 3vw;
        width: 100vw;
    }
    body .scrolldownbutton {
        right: 0;
        width: 100vw;
    }
    body .doubledownarrow {
        width: 100vw;
    }
    body .intro,
    body .china,
    body .southkorea,
    body .italy,
    body .USA {
        font-family: 'Work Sans', sans-serif;
        line-height: 25px;
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 100px;
        margin-right: 50px;
        font-size: 2vw;
    }
}

.parallaxbackground {
    background-image: url("https://lh3.googleusercontent.com/XpOgKIwa5xclaCZ5bjqIruhKvBUQE_to9uVY9o5A2mRHFw00mvYl287VLCZ4Vus=s2600");
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    width: 100%;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

.maintitle {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 5vw;
    color: #ffffff;
}

.credits {
    position: relative;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4vw;
    padding-top: 0.7vw;
    color: #ffffff;
}

.readmoretext {
    position: relative;
    left: 0;
    top: 85%;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4vw;
    color: #ffffff;
}

.doubledownarrow {
    position: relative;
    top: 90%;
    left: 0;
    width: 100%;
    scale: 1vh;
    text-align: center;
}

.scrolldownbutton {
    position: absolute;
    outline: 0;
    border: none;
    background: none;
    text-align: center;
    left: 0;
    width: 100%;
    top: 85%;
}

.introtitle,
.chinatitle,
.southkoreatitle,
.italytitle,
.USAtitle {
    font-family: 'Work Sans', sans-serif;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 35px;
    padding-top: 50px;
}

.chinapicture,
.southkoreapicture,
.italypicture,
.USApicture {
    width: 100%;
    height: 50vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

.chinapicture {
    background-image: url("https://dreambigfilm.com/wp-content/uploads/2016/12/db_12_shanghaisunrise.jpg");
}

.southkoreapicture {
    background-image: url("https://i.pinimg.com/originals/c4/dd/ae/c4ddae22b66b019e3c13eaa5fc072f05.jpg");
}

.italypicture {
    background-image: url("https://i.pinimg.com/originals/a7/fd/a2/a7fda2242973d8a81eb5a86b21c4a835.jpg");
}

.USApicture {
    background-image: url("https://wallpaperaccess.com/full/52939.jpg")
}

.intro,
.china,
.southkorea,
.italy,
.USA {
    font-family: 'Work Sans', sans-serif;
    line-height: 25px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    font-size: 1.3vw;
}

.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    padding: 30px;
    color: #000000;
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}